# Python
__pycache__/
*.pyc

# Lambda packages
get_food_data/__pycache__/
get_food_data/*.pyc
get_food_data/*.zip
get_food_data/mysql_connector_python*/  # if installed here

run_scraping/__pycache__/
run_scraping/*.pyc
run_scraping/*.zip
run_scraping/mysql_connector_python*/  # if installed here

# Serverless build artifacts
.serverless/

# Secrets
.env
